<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change password - BullFit</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<main>
    <h1>Change password</h1>
    <p th:if="${param.changed}">Password updated.</p>
    <form th:action="@{/settings/password}" th:object="${form}" method="post">
        <label>Current password <input type="password" th:field="*{currentPassword}"></label>
        <span th:errors="*{currentPassword}"></span><br>

        <label>New password <input type="password" th:field="*{newPassword}"></label>
        <span th:errors="*{newPassword}"></span><br>

        <label>Confirm new password <input type="password" th:field="*{confirmNewPassword}"></label>
        <span th:errors="*{confirmNewPassword}"></span><br>

        <button type="submit">Update password</button>
        <a th:href="@{/profile}">Back to profile</a>
    </form>
</main>
</body>
</html>