<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<nav th:fragment="navbar" class="navbar">
    <a th:href="@{/}" class="brand">BullFit</a>
    <span sec:authorize="!isAuthenticated()">
        <a th:href="@{/login}">Log in</a>
        <a th:href="@{/register}">Register</a>
    </span>
    <span sec:authorize="isAuthenticated()">
        <a th:href="@{/exercises}">Exercises</a>
        <a th:href="@{/my-exercises}">My Exercises</a>
        <a sec:authorize="hasAnyRole('ADMIN','DEVELOPER')" th:href="@{/admin/exercises}">Admin</a>
        <a th:href="@{/profile}">
            <span th:replace="~{fragments/username :: username(${currentUser})}"></span>
        </a>
        <form th:action="@{/logout}" method="post" style="display:inline">
            <button type="submit">Log out</button>
        </form>
    </span>
</nav>
</body>
</html>